

<div style="background-color: lavenderblush; display:flex; align-items:stretch; justify-content:start; flex-direction:column">

  <div style="display:flex;background-color: orangered; justify-content: space-between">
    <div style="display:flex; background-color:pink">
      Jou name&nbsp;<input type='text' [value]='this.yourName'/>
    </div>
    <div>
      Score <b>{{this.currentScore}}</b>&nbsp;&nbsp;&nbsp;
      HighScore <b>{{this.highScore}}</b>&nbsp;&nbsp;&nbsp;by&nbsp;<b>{{this.highScoreName}}</b>
    </div>
    <div style="display:flex; background-color:pink">Lives&nbsp;<b>{{this.currentLivesLeft}}</b>
    </div>
  </div>
  <div style='background-color:#4e9ed4; display: flex; align-items: center; justify-content: center; flex-direction: column'>
    <div style='background: transparent'>
      <thk-question [question]=question></thk-question>
    </div>
    <thk-answer [hidden]='this.gameOver' (answered)="checkAnswer($event)"></thk-answer>
    <div style='background-color: transparent'><h4>{{this.feedback}}</h4></div>
    <button (click)='playAgain()'>Start Over</button>
  </div>
</div>
