<div class="calculator">

  <div>
    <input type="text" class="calculator-screen" [value]="calculatorDisplay" disabled />
  </div>

  <div class="calculator-keys">

    <button type="button" [disabled]="operationSelected" (click) = "operationTypeSelected('+')" class="operator" value="+">+</button>
    <button type="button" [disabled]="operationSelected" (click) = "operationTypeSelected('-')" class="operator" value="-">-</button>
    <button type="button" [disabled]="operationSelected" (click) = "operationTypeSelected('*')" class="operator" value="*">&times;</button>
    <button type="button" [disabled]="operationSelected" (click) = "operationTypeSelected('/')" class="operator" value="/">&divide;</button>

    <button id="number7" type="button" (click) = "numberInputSelected('7')" value="7">7</button>
    <button type="button" (click) = "numberInputSelected('8')" value="8">8</button>
    <button type="button" (click) = "numberInputSelected('9')" value="9">9</button>


    <button type="button" (click) = "numberInputSelected('4')" value="4">4</button>
    <button type="button" (click) = "numberInputSelected('5')" value="5">5</button>
    <button type="button" (click) = "numberInputSelected('6')" value="6">6</button>


    <button type="button" (click) = "numberInputSelected('1')" value="1">1</button>
    <button type="button" (click) = "numberInputSelected('2')" value="2">2</button>
    <button type="button" (click) = "numberInputSelected('3')" value="3">3</button>


    <button type="button" (click) = "numberInputSelected('0')" value="0">0</button>
    <button type="button" (click) = "showPreviousCalculationsMade()">Show history</button><!-- cancel -->
    <button type="button" (click) = "clearCalculatorMemory()"  class="all-clear" value="all-clear">AC</button>

    <button type="button" (click) = "doCalculation()" class="equal-sign" value="=">=</button>

  </div>
</div>
